<div class="h-full rounded-lg bg-white p-5">
  <div class="flex justify-between">
    <div class="flex items-center gap-2">
      <div class="text-[#2563eb]" [ngClass]="icon"></div>
      <div>{{ title }}</div>
    </div>
    <button type="button" class="text-[#2563eb]" (click)="onEdit()">
      Modifica
    </button>
  </div>
  <hr />

  <div class="flex flex-col gap-2">
    @for (field of cardField; track $index) {
      <div class="flex justify-between">
        <div class="text-gray-500">{{ field.label }}</div>
        <div class="text-right">{{ field.value }}</div>
      </div>
    }
  </div>
</div>
@if (isEditing === true) {
  <div
    class="fixed inset-0 top-10 flex h-fit w-fit flex-col items-center justify-center rounded-lg bg-[#00173d] p-5 text-white"
  >
    <app-edit-profile [fields]="cardField" (cancelForm)="closeEdit()" />
  </div>
}
