<div class="p-3">
  <div class="flex self-start hidden sm:block">
    <div class="flex flex-col">
      @for (voice of menu; track voice.id) {
        <div
          routerLink="{{ voice.name }}"
          routerLinkActive="bg-blue-100 border-l-blue-500 active"
          class="p-2 group flex items-center gap-3 h-10 border-4 border-transparent hover:border-l-blue-500 hover:bg-blue-100 cursor-pointer"
        >
          <span
            class="{{
              voice.icon
            }} text-gray-500 group-hover:text-blue-600 group-[.active]:!text-blue-600 select-none"
          ></span>
          <a
            class="group-hover:!text-blue-600 group-[.active]:!text-blue-600 capitalize select-none"
            >{{ voice.name }}</a
          >
        </div>
      }
    </div>
  </div>

  <div class="block sm:hidden relative">
    <ngx-sirio-button
      class="relative"
      (click)="openMenu = !openMenu"
      color="primary"
      icon="fas fa-bars"
    ></ngx-sirio-button>
    @if (openMenu === true) {
      <div class="flex flex-col gap-3 bg-white absolute z-50 rounded-lg p-3">
        @for (voice of menu; track voice.id) {
          <a
            class="text-[20px] capitalize"
            routerLink="{{ voice.name }}"
            (click)="openMenu = false"
          >
            <span class="hover:text-blue-500"> {{ voice.name }} </span>
          </a>
        }
      </div>
      <!-- <ngx-sirio-dropdown-panel class="bg-white flex flex-col absolute z-100 left-0 rounded-lg">
        @for (voice of menu; track voice.id) {
          <ngx-sirio-dropdown-option
            class="w-fit"
            (click)="openMenu = false"
            routerLink="{{ voice.name }}"
          >
            <span class="capitalize">{{ voice.name }}</span>
          </ngx-sirio-dropdown-option>
        }
      </ngx-sirio-dropdown-panel>
    -->
    }
  </div>
  <!-- 
  <div class="block sm:hidden">
    <ngx-sirio-dropdown title="dropdown" color="primary" [panelPosition]="'bottom-right'">
      <ngx-sirio-dropdown-panel>
        @for (voice of menu; track voice.id) {
          <ngx-sirio-dropdown-option
            class="capitalize"
            routerLinkUrl="{{ voice.name }}"
            routerLinkFragment="types"
            [isLink]="true"
          >
            {{ voice.name }}
          </ngx-sirio-dropdown-option>
        }
      </ngx-sirio-dropdown-panel>
    </ngx-sirio-dropdown>
  </div> -->
</div>
