<form>
  <h3>Aggiungi nuovo servizio:</h3>
  <div class="flex flex-col gap-3">
    @for (field of fields; track $index) {
      <ngx-sirio-input
        [name]="field.key"
        [label]="field.label"
        [value]="field.value"
        [placeholder]="field.label"
      />
    }
    <!-- <ngx-sirio-input
      name="name"
      label="Nome servizio"
      placeholder="Nome servizio"
    />
    <ngx-sirio-input
      name="text"
      label="Descrizione servizio"
      placeholder="Descrizione servizio"
    /> -->
    <div class="flex gap-3">
      <ngx-sirio-button type="submit" color="primary"> Salva </ngx-sirio-button>
      <ngx-sirio-button type="button" color="danger" (click)="onCancelForm()">
        Annulla
      </ngx-sirio-button>
    </div>
  </div>
</form>
