<ngx-sirio-card class="items-center p-3" [isDark]="true">
  <ngx-sirio-card-body class="w-full p-0">
    <ngx-sirio-card-title> Benvenuto, Mario</ngx-sirio-card-title>
    <ngx-sirio-card-subtitle>
      Accedi ai servizi INPS, consulta le tue pratuche e gestisci le tue
      prestazioni in un unico posto.
    </ngx-sirio-card-subtitle>
  </ngx-sirio-card-body>
  <div class="flex w-full flex-col gap-5 p-2 sm:flex-row">
    <!-- (input) ='onSearch()'
     ogni volta che cambia l'input parte in metodo onSearch-->
    <ngx-sirio-input
      class="grow-2"
      placeholder="Cerca un servizio (es. NASpI, pensione, assegno unico...)"
      name="name"
      ariaLabel="input"
      [(ngModel)]="searchText"
    />

    <!-- button con cerca + icona -->
    <ngx-sirio-button
      class="hidden rounded-lg bg-white sm:block"
      color="tertiary"
      (click)="onSearch()"
    >
      <span class="fas fa-search" aria-hidden="true"></span>
      Cerca
    </ngx-sirio-button>

    <!-- button solo icona -->
    <ngx-sirio-button
      class="block rounded-lg bg-white sm:hidden"
      color="tertiary"
      (click)="onSearch()"
    >
      <span class="fas fa-search" aria-hidden="true"></span>
    </ngx-sirio-button>
  </div>
</ngx-sirio-card>
