@for (category of categories; track $index) {
  <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
  <div
    class="hidden cursor-pointer rounded-lg p-1 capitalize select-none sm:block"
    [class.bg-blue-100]="activeCategory === category"
    [class.text-blue-600]="activeCategory === category"
    (click)="selectedCategory(category)"
  >
    {{ category }}
  </div>
}

<select
  class="block w-fit rounded-lg border-2 border-blue-500 bg-white p-2 capitalize sm:hidden"
  name="filtri"
  id="filtri"
  (change)="onChangeSelect($event)"
>
  @for (category of categories; track $index) {
    <option class="capitalize" [value]="category">{{ category }}</option>
  }
</select>
