<div class="flex flex-col gap-4">
  <div class="text-gray-500">ACCESSO RAPIDO</div>
  <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3">
    @for (service of filteredService; track $index) {
      <ngx-sirio-card class="flex flex-col gap-2 p-5">
        <!-- le classi dinamiche le specifico con ngClass -->
        <div
          class="flex h-10 w-10 items-center justify-center rounded-lg"
          [ngClass]="colorBox(service.category)"
        >
          <div [ngClass]="[service.icon, colorIcon(service.category)]"></div>
        </div>
        <ngx-sirio-card-title>
          {{ service.name }}
        </ngx-sirio-card-title>

        <ngx-sirio-card-subtitle>
          {{ service.text }}
        </ngx-sirio-card-subtitle>
      </ngx-sirio-card>
    }
  </div>
</div>
