/* You can add global styles to this file, and also import other style files */
@import "sirio/css";
@import "tailwindcss";

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f9fb;
}